name: Deploy Flutter Web to GitHub Pages

on:
  push:
    branches: [main]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - run: flutter config --enable-web
      - run: flutter pub get
      - run: flutter build web --release

      # Copy docs folder into build output
      - run: cp -r docs build/web/docs

      - run: cp assets/config.json build/web/assets/config.json

      - run: cp Ads.txt build/web/Ads.txt
      - run: cp app-ads.txt build/web/app-ads.txt

      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: build/web
          clean: true
